* {
  margin: 0;
  box-sizing: border-box;
}

.blabla {
  min-height: 50vh;
  max-height: 75vh;
  background-color: pink;
  overflow: hidden;
}

.i-am-the-boss {
  background-color: cyan;
}

.i-am-the-boss p {
  padding: 50;
  font-size: 1.2rem;
}

html {
  font-size:30px
}

