body {
  background-color: hsl(39, 6%, 83%);
}

h1 {
  color: rgb(12, 37, 134);
}

h1 span {
  color: #d69e36;
}

.menu li a {
  color: rgb(134, 12, 110);
}

div[data-role="dropdown"] ul li a {
  color: blue;
}

.menu li a span {
  color: red;
}

.menu li [data-role="dropdown"] {
  background-color: hsl(39, 21%, 73%);
}

.menu li [data-role="dropdown"] li span{
  color : rgb(24, 143, 50);
}

[data-role="dropdown"] li:nth-child(2){
  background-color : purple;
}

.content, .content a {
  color: darkcyan;
}