@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img.title {
  width: 150px;
  height: auto;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 115, 0);
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  width: 288px;
  height: 503px;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 288px;
  height: 469px;
  border-radius: 27px;
  background-color: #FFFFFF;
  font-family: 'Noto Sans Symbols';
}

p.title {
  font-weight: 300;
  font-size: 36px;
}

.features {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.06em;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 20px;
  height: 20px;
}

.features div {
  position: relative;
  top: -20px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 23px;
  margin-right: 16px;
}

.line {
  width: 188px;
  border: 1px solid black;
}

.footer {
  position: relative;
  top: -25px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.free {
  padding: 0;
  margin-top: -10px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.13em;
  margin-bottom: 0;
}

.forever {
  position: relative;
  top: -15px;
  margin-top: 0;
  margin-left: 70px;
  font-family: "Allan";
  font-weight: 400;
  font-size: 36px;
  color: orange;
}

.start {
  position: relative;
  top: -35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 181px;
  height: 68px;
  border-radius: 27px;
  background-color: #737373;
  font-family: 'Noto Sans Symbols';
  letter-spacing: 0.06em;
  line-height: 32.8px;
  transition: background-image 0.3 ;
}

.button p {
  font-weight: 1000;
  color: #f9f9f9;
  font-size: 16px;
}



.start:hover {
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMzZkYjdwZzdqdXBhOW5nNmZmMnZtanZ1OTNlc3Y3OTVrc3NnMnB2NyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1MWtq6NyTgwve/giphy.webp);
  background-repeat: no-repeat; /* Ensure the GIF doesn't repeat */
  background-position: center; /* Center the GIF inside the button */
  background-size: cover; /* Adjust size to cover the button area */
  width: 181px; /* Keep the button size consistent */
  height: 68px; /* Keep the button size consistent */
}
  

