*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #212121;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  background-color: black;
  grid-template-columns: 320px 198px 153px 50px;
  grid-template-rows: 414px 130px 155px 20px;
  gap: 9px;
}

.rectangle-1{
  background-color: red;
}

.rectangle-2 {
  background-color: rgb(212, 209, 209);
  grid-column: span 3;
}

.rectangle-3 {
  background-color: rgb(212, 209, 209);
  grid-row: span 2;
}

.rectangle-4 {
  background-color: rgb(212, 209, 209);
  grid-row: span 2;
  grid-column: span 2;
}

.rectangle-5 {
  background-color: rgb(25, 4, 207);
  margin-bottom: 10px;
}

.rectangle-6 {
  background-color: rgb(212, 209, 209);
  grid-row: span 2;
}

.rectangle-7 {
  background-color: rgb(212, 209, 209);
}

.rectangle-8 {
  background-color: yellow;
}

.rectangle-9 {
  background-color: rgb(42, 42, 42);
}




